{% extends 'layout.twig' %}

{% block body %}
  <h1>Farewell</h1>
  <p>This is a farewell app. Coded with passion only for Michal by @mallcz_it</p>
  {% if reward == '' %}
  <h2>Instructions:</h2>
  <p>You didn't think this gonna be so easy, did you? Find a bug in the code and the app will reveal your reward.</p>
  <p>Happy hacking ;)</p>
  {% else %}
    <h2>Never doubt you can do it ;)</h2>
    <table align="center" cellpadding="10">
      <tbody><tr bgcolor="WHITE"><td>
          <!-- IMAGE BEGINS HERE -->
          <code><span style="display:block;line-height:8px; font-size: 8px; font-weight:bold;white-space:pre;font-family: monospace;color: white; background: black;">{{ reward }}</span></code>
          <!-- IMAGE ENDS HERE -->
        </td></tr>
      </tbody>
   </table>
  {% endif %}
{% endblock %}
